---
layout: base.html
menuItems: [
  { title: 'Home', href: '#' },
  { title: 'About', href: '#about' },
  { title: 'Projects', href: '#projects' },
  { title: 'Contact', href: '#contact' }
]
languages: [ 'de', 'en' ]
---
<header>
  {% include "navbar.html", menuItems: menuItems, languages: languages %}
</header>
<div class="section section-primary">
  <div class="section-head">
    <div class="section-head-inner">
      <h1 class="is-title">
        <div class="title-first-part">Florian<div class="triangle-1"></div><div class="triangle-2"></div><div class="triangle-3"></div></div> Preinfalk
      </h1>
      <div class="is-subtitle">
        Backend and Frontend Developer
      </div>
    </div>
  </div>
  <div class="section-break"></div>
</div>
<div class="section container">
  {% include "about.html" %}
</div>
<div class="section container" id="projects">
  {% include "projects.html" %}
</div>
<div class="section container" id="contact">
  {% include "contact.html" %}
</div>
