<h2 class="section-title">{{ titles[language]['projects'] }}</h2>
{% for project in projects %}
  <div class="project">
    <h3 class="subsection-title">{{ project.title }}</h3>
    <ul class="inline-list">
      {% for tag in project.tags %}
        <li class="inline-list-item pill">{{ tag }}</li>
      {% endfor %}
    </ul>
    <p class="gallery">
      {% for image in project.images %}
        {% gallery-image image 'Screenshot' %}
      {% endfor %}
    </p>
    <p>
      {{ project.content[language] }}
    </p>
    <p>
      {% for button in project.buttons %}
        <a class="button {{ button.class }}" href="{{ button.url }}" target="_blank">{{ button.title[language] }}</a>
      {% endfor %}
    </p>
  </div>
{%- endfor -%}
