$color1: #545775;
$color2: #718F94;
//$color3: #90B494;
$color4: #BFC8AD;
$color5: #DBCFB0;
$color3: #73b47a;

$primary: $color2;
$secondary: $color5;
$textcolor: #333;

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $textcolor;
  background: $secondary;
  // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
}

.section {
  &-primary {
    position: relative;
    background: $secondary;
    padding-bottom: 4rem;
    
    /*&::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $secondary; //linear-gradient(45deg, $primary 0%, lighten($primary, 40%) 100%);;
      clip-path: polygon(0 60%, 100% 50%, 100% 100%, 0 100%);
    }*/
  }
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.section-head {
  text-align: center;
  padding-top: 7rem;
  background: $primary;
}

.section-head-inner {
  display: inline-block;
  padding: 3rem 1rem;
  z-index: 1;
  position: relative;

  .is-title {
    padding: 0 3rem;
  }
}

.section-break {
  width: 100%;
  padding-top: 5%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  background: $primary;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1rem;
}

.is-title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.is-subtitle {
  font-size: 1.5rem;
}

.title-first-part {
  display: inline-block;
  position: relative;
}

.triangle-1, .triangle-2, .triangle-3 {
  position: absolute;
  height: 0;
  width: 0;
  border: 10rem solid $color3;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  z-index: -1;
}

.triangle-1 {
  transform: translateX(-5rem) translateY(-13rem) rotate(20deg) translateX(-7rem) scaleY(0.2);
}

.triangle-2 {
  transform: translateX(-5rem) translateY(-13rem) rotate(-20deg) translateX(-7rem) scaleY(0.2);
}

.triangle-3 {
  transform: translateX(-5rem) translateY(-13rem) rotate(-60deg) translateX(-7rem) scaleY(0.2);
}

@media only screen and (max-width: 56rem) {
  .triangle-1, .triangle-2, .triangle-3 {
    border-width: 5rem;
  }

  .triangle-1 {
    transform: translateX(-1.5rem) translateY(-7rem) rotate(45deg) translateX(-6rem) scaleY(0.3);
  }
  
  .triangle-2 {
    transform: translateX(-1.5rem) translateY(-7rem) rotate(10deg) translateX(-6rem) scaleY(0.3);
  }
  
  .triangle-3 {
    transform: translateX(-1.5rem) translateY(-7rem) rotate(-25deg) translateX(-6rem) scaleY(0.3);
  }
}

.nav {
  display: flex;
  justify-content: end;
  padding: 0 0.5rem;
  margin: 0;

  &-item {
    display: block;
    padding: 1rem;
    font-size: 1rem;
  }

  &-link {
    color: $textcolor;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;

    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 0.1rem;
    transition: background-size 0.2s ease;

    &:hover, &:focus {
      background-size: 100% 0.1rem;
      text-decoration: none;
    }
  }
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: end;
  background: $primary;
  z-index: 2;
  transition: box-shadow 0.1s ease;

  &-separator {
    background: $textcolor;
    width: 0.1rem;
    height: 2rem;
    margin: 0.7rem 0;
  }

  .scrolled & {
    box-shadow: 0 0 1rem rgba(#333, 0.5);
  }
}

.section-title {
  font-size: 2.5rem;
  padding: 0.5rem;
  margin: 0 -0.5rem;
  margin-top: 1rem;
  border-bottom: 1px solid $primary;
}

.project-title {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0 -0.5rem;
  margin-top: 1rem;
  border-bottom: 1px solid $primary;
}

.pill {
  background: $primary;
  border-radius: 0.2rem;
  color: #fff;
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
}

.inline-list {
  display: inline-block;
  margin: 0 -0.2rem;
  padding: 0;

  &-item {
    display: inline-block;
    margin: 0 0.2rem;
  }
}

a {
  color: lighten($textcolor, 10);
  font-weight: bold;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.button {
  display: inline-block;
  background: $primary;
  border-radius: 0.2rem;
  color: #fff;
  padding: 0.4rem 0.8rem;
  font-weight: normal;

  &:hover, &:focus {
    background: darken($primary, 20);
    text-decoration: none;
  }
}

.fps6-container {
  width: 100vw;
  height: 100vh;
  background: #222;
  position: relative;
}

.fps6-canvas {
  display: none;
  object-fit: contain;
  width: 100%;
  height: 100%;

  .fps6-container.active & {
    display: block;
  }
}

.fps6-status {
  color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .fps6-container.active & {
    display: none;
  }
}

.fps6-back-link {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 3rem;
  height: 3rem;
  font-size: 0;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0.3rem;
    height: 3rem;
    background: #ccc;
    border-radius: 0.15rem;
  }

  &::before {
    transform: translateX(1.5rem) rotate(45deg);
  }

  &::after {
    transform: translateX(1.5rem) rotate(-45deg);
  }
}
