@use "sass:math";

@import "~photoswipe";

@import "variables.scss";

@import "button.scss";
@import "container.scss";
@import "nav.scss";
@import "navbar-button.scss";
@import "section.scss";
@import "title.scss";
@import "utility.scss";

html {
  font-family: $font-family;
  color: $textcolor;
  background: $background;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1rem;
}

button {
  background: none;
  border: none;
  appearance: none;
  padding: 0;
  margin: 0;
}

a {
  color: lighten($textcolor, 10);
  font-weight: bold;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}
