@use "sass:math";

@import "variables.scss";

@import "container.scss";
@import "fps6.scss";
@import "header.scss";
@import "nav.scss";
@import "navbar-button.scss";
@import "section.scss";
@import "title.scss";

html {
  font-family: $font-family;
  color: $textcolor;
  background: $secondary;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1rem;
}

.pill {
  background: $primary;
  border-radius: 0.2rem;
  color: #fff;
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
}

.inline-list {
  display: inline-block;
  margin: 0.2rem -0.2rem;
  padding: 0;

  &-item {
    display: inline-block;
    margin: 0 0.2rem;
  }
}

a {
  color: lighten($textcolor, 10);
  font-weight: bold;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.button {
  display: inline-block;
  background: $primary;
  border-radius: 0.2rem;
  color: #fff;
  padding: 0.4rem 0.8rem;
  font-weight: normal;

  &:hover, &:focus {
    background: darken($primary, 20);
    text-decoration: none;
  }
}

button {
  background: none;
  border: none;
  appearance: none;
  padding: 0;
  margin: 0;
}
