.section {
  &-primary {
    position: relative;
    background: $secondary;
    padding-bottom: 3rem;
    color: $textcolor-head;
  }

  &-head {
    text-align: center;
    padding-top: 4rem;
    background: $primary;
  }

  &-head-inner {
    display: inline-block;
    padding: 2rem 1rem;
    z-index: 1;
    position: relative;
  }

  &-break {
    width: 100%;
    padding-top: 5%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background: $primary;
  }
}
