$color1: #545775;
$color2: #718F94;
$color3: #73b47a;
$color4: #BFC8AD;
$color5: #DBCFB0;

$primary: $color2;
$secondary: $color5;
$textcolor: #333;
$textcolor-primary: #eee;
$textcolor-head: $textcolor;

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$responsive-mobile: 600px;

$navbar-button-width: 2.5rem;
$navbar-button-height: 2rem;
$navbar-button-tile: 0.4rem;
