$primary: #607980;
$secondary: #CAB98A;
$background: #DBCFB0;
$textcolor: #333;
$textcolor-primary: #FFF;
$textcolor-secondary: #333;
$textcolor-head: #222;

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$responsive-mobile: 600px;

$navbar-button-width: 2.5rem;
$navbar-button-height: 2rem;
$navbar-button-tile: 0.4rem;
