$color1: #545775;
$color2: #718F94;
//$color3: #90B494;
$color4: #BFC8AD;
$color5: #DBCFB0;
$color3: #73b47a;

$primary: $color2;
$secondary: $color5;
$textcolor: #333;

html {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $textcolor;
  background: $secondary;
  // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
}

.section {
  &-primary {
    height: 100vh;
    position: relative;
    background: $primary;
    
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $secondary; //linear-gradient(45deg, $primary 0%, lighten($primary, 40%) 100%);;
      clip-path: polygon(0 60%, 100% 50%, 100% 100%, 0 100%);
    }
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.image-person {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80vh;
}

.section-inner {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1rem;
}

.is-title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.is-subtitle {
  font-size: 1.5rem;
}

.triangle-1, .triangle-2, .triangle-3 {
  position: absolute;
  height: 0;
  width: 0;
  border: 10rem solid $color3;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.triangle-1 {
  transform: translateX(-5rem) translateY(-15rem) rotate(20deg) translateX(-7rem) scaleY(0.2);
}

.triangle-2 {
  transform: translateX(-5rem) translateY(-15rem) rotate(-20deg) translateX(-7rem) scaleY(0.2);
}

.triangle-3 {
  transform: translateX(-5rem) translateY(-15rem) rotate(-60deg) translateX(-7rem) scaleY(0.2);
}

.nav {
  display: flex;
  justify-content: end;
  padding: 0 0.5rem;
  margin: 0;

  &-item {
    display: block;
    padding: 1rem;
    font-size: 1rem;
  }

  &-link {
    color: $textcolor;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;

    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 0.1rem;
    transition: background-size 0.2s ease;

    &:hover {
      background-size: 100% 0.1rem;
    }
  }
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: end;
  background: $primary;
  z-index: 1;
  transition: box-shadow 0.1s ease;

  &-separator {
    background: $textcolor;
    width: 0.1rem;
    height: 2rem;
    margin: 0.7rem 0;
  }

  .scrolled & {
    box-shadow: 0 0 0.5rem #333;
  }
}

.section-title {
  font-size: 2.5rem;
  padding: 0.5rem;
  margin: 0 -0.5rem;
  margin-top: 1rem;
  border-bottom: 1px solid $primary;
}

.project-title {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0 -0.5rem;
  margin-top: 1rem;
  border-bottom: 1px solid $primary;
}

.pill {
  background: $primary;
  border-radius: 0.2rem;
  color: #fff;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
}

.inline-list {
  display: inline-block;
  margin: 0 -0.2rem;
  padding: 0;

  &-item {
    display: inline-block;
    margin: 0 0.2rem;
  }
}
